[submodule "common/.config/zsh/zsh-autosuggestions"]
	path = common/.config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "common/.config/zsh/fast-syntax-highlighting"]
	path = common/.config/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "common/.config/zsh/zsh-abbr"]
	path = common/.config/zsh/zsh-abbr
	url = https://github.com/olets/zsh-abbr
[submodule "common/.config/zsh/forgit"]
	path = common/.config/zsh/forgit
	url = https://github.com/wfxr/forgit
